@model Cat_Mouse.Models.ViewModels.RegistrationOrderViewModel
@{
    ViewData["Title"] = "Invoice Payment";
}

<form method="post" asp-action="CreateOrder">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="@Model.Amount"></label>
        <input asp-for="@Model.Amount" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <span asp-validation-for="@Model.Amount"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Пожертвовать</button>
</form>
<ul class="list-group">
    @foreach (var item in Model.RegistrationOrders)
    {
        <li class="list-group-item">
            @item.Description       ||    @item.Amount
            <a asp-action="GetStatusOrderById" asp-route-orderId="@item.OrderId"></a>
        </li>

    }
</ul>